
<div id="list_levels">
	<h1>Select a <%= @grade_name.name %> Math Game</h1>
	  <br/>
	  <h2>Addition Levels</h2>
			<h3><% @addition.each do |deck| %></h3>
				<div id="chalk">
				  <h4><%= link_to deck.level, rounds_path(deck_id: deck.id), :method => :post %></h4>
				</div>
			<% end %>

  <h2>Subtraction Levels</h2>
		<h3><% @subtraction.each do |deck| %></h3>
			<div id="chalk">
				  <h4><%= link_to deck.level, rounds_path(deck_id: deck.id), :method => :post %></h4>
			</div>
			<% end %>
</div>


<div id="dren_pointing"></div>



