
<div class="span8">
<h1>Select a <%= @grade_name.name %> Math Game</h1>
 
<h3>Addition</h3>

<h2><% @addition.each do |deck| %></h2>
  <h4>Level: <%= link_to deck.level, rounds_path(deck_id: deck.id), :method => :post %></h4>
<% end %>

<h3>Subtraction</h3>

<h2><% @subtraction.each do |deck| %></h2>
  <h4>Level: <%= link_to deck.level, rounds_path(deck_id: deck.id), :method => :post %></h4>
<% end %>
</div>

<div class="span9">
<div id="dren_pointing"></div>
</div>

<td><%# link_to "Add", student_batch_students_path(@student, :batch_id => b.id), :method=> :post %></td>
