
<div class="span8">
<h1>Select a <%= @grade_name.name %> Math Game</h1>

<h2><% @grade_name.decks.each do |deck| %></h2>
  <h3><%= deck.name %> Level: <%= link_to deck.level, rounds_path(deck), :method => :post %></h3>
<% end %>
</div>

<div class="span9">
<div id="dren_pointing"></div>
</div>