<h2>This is all the card ids for this rounds and grade</h2>

<!-- i could keep these in the dom as a hidden field and loop over it -->


<%= render '/rounds/question' if @card %>


<div class="round">
  <div class="question"></div>
</div>
