
<!-- i could keep these in the dom as a hidden field and loop over it -->

<%= notice %>

<%= render '/rounds/question' %>


<div class="round">
  <div class="question"></div>
</div>


<%= render '/rounds/wrong' if true %>
<%# render '/rounds/correct' if false %>
