<div class="span2">
	<h2>Select Your Grade:</h2>
</div>
<div class="span11">
	<div class="span2">
		  <div class="grade_levels">
		  	<ul>
					<% @grades.each do |grade| %>
					<li><%= link_to grade.name, grade_path(grade.id) %></li>
					<% end %>
			  </ul>
	    </div>
	  </div>
	<div class="molly"></div>
</div>
