<h1>Welcome to Mia Math</h1>
<div class="span5">
	<h4>Select Your Grade:</h4>
</div>
<div class="span11">
	<div class="span4">
		  <div class="grade_levels">
		  	<ul>
					<% @grades.each do |grade| %>
					<li class="grade_levels"><%= link_to grade.name, grade_decks_path(grade.id) %></li>
					<% end %>
			  </ul>
	    </div>
	  </div>
	<div class="molly"></div>
</div>


