<%= render "newcard" %>

<div id="another_card"></div>
<div class="row">
	<div class="span11">
    <div id="success" class="hide"><h1>You Got It Correct</h1></div>
    <div id="dren_success" class="hide"></div>
  </div>
</div>

<div id="wrong" class="hide"><h1>Oups. The correct answer is: <%= @answer.class %></h1></div>

<div id="over" class="hide"><h1>The Game Is Over</h1></div>
