<%= render "newcard" %>

<div id="another_card"></div>

<div id="success" class="hide">You Got It Correct</div>
<div id="wrong" class="hide">You Got It Wrong</div>


<div id="over" class="hide">The Game Is Over</div>
