<h3>This Will Show All The decks for:</h3>

<h2><%= @grade_name.name %></h2>

<%= @grade_name.decks.first.name %>
<% @grade_name.decks.each do |deck| %>
		<li><%= link_to deck.level, new_round_path(deck.id) %></li>
<% end %>

