<h3>This Will Show All The decks for:</h3>

<h2><%= @grade_name.name %></h2>

<%= @grade_name.decks.first.name %>
<% @grade_name.decks.each do |deck| %>
		<li>Level: <%= link_to deck.level, rounds_path(deck.id), :method => :post %></li>
<% end %>

