<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
  <span class="icon-bar"></span>
  <span class="icon-bar"></span>
  <span class="icon-bar"></span>
</a>
<%= link_to "Mia Math", root_path, class: "brand" %>
<div class="nav-collapse">
	<!-- <ul class="nav"> -->		
		<% if current_user %>
		  <%= "#{current_user.email}" %>
		<% end %>
    
    <ul class="nav pull-right">
			<% if user_signed_in? %>
			  <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
			<% else %>
			  <li><%= link_to "Create Account", new_user_registration_path %></li>
			<% end %>

				<%# form_tag user_session_path, class: "form-inline" do %>
					  <li><%# text_field_tag 'user[email]', nil, :placeholder => 'email'%></li>
					  <li><%# password_field_tag 'user[password]', nil, :placeholder => 'password' %></li>
					<li><%# button_tag "sign in", class: "btn" %></li>
	      <%# end %>

					<%# label_tag 'user[remember_me]', 'Remember Me' %>
					<%# check_box_tag 'user[remember_me]', class: "checkbox inline" %>

					<li><%# link_to "Password Lost?", new_password_path('user') %></li>
	  </div>
	</ul>
</div>






